body {
    --background_color: #191919;
    --foreground_color: #E21A41;
    background-color: var(--background_color);
}

@font-face {
    font-family: ra_mono;
    src: url("../Ra-Mono.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.container {
    /* space left and right when getting too big */
    max-width: 650px;
    margin: auto;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    display: block;
    width: 100%;
    height: auto;

    stroke: var(--foreground_color);
    stroke-width: 10;
    stroke-linejoin: round;
    fill: transparent;

    background-color: var(--background_color);
}
.text {
    font-family: ra_mono;
    color: var(--foreground_color);
    font-size: 130px;
}
@media screen and (max-width: 650px) {
    .text {
        font-size: 20vw;
    }
}

/*   0%- 30% open */
/*  30%- 40% sides close */
/*  40%- 55% top closes */
/*  55%- 90% closed */
/*  90%-100% opens */
@keyframes close_side {
    30% {
        transform: translate(0px, 0px);
    }
    40% {
        transform: translate(var(--target_x), var(--target_y));
    }
    90% {
        transform: translate(var(--target_x), var(--target_y));
    }
    100% {
        transform: translate(0px, 0px);
    }
}
@keyframes close_top {
    40% {
        transform: translate(0px, 0px);
    }
    55% {
        transform: translate(var(--target_x), var(--target_y));
    }
    90% {
        transform: translate(var(--target_x), var(--target_y));
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.top {
    --target_x: 0px;
    --target_y: 77px;
    animation: close_top 10s linear infinite;
    /* transform: translate(var(--target_x), var(--target_y)); */
}
.side {
    animation: close_side 10s linear infinite;
    /* transform: translate(var(--target_x), var(--target_y)); */
}
.right {
    --target_x: -17px;
    --target_y: 199px;
}
.left {
    --target_x: 17px;
    --target_y: 0px;
}

